.fa-plus-circle {
    border-radius: 50% !important;
    color: red;
    background: white;
}
.btn-remove {
    background: none !important;
    border: none !important;
}
.bottomRight {
    float: right;
    position: relative;
    padding-bottom: 10px;
}

.wbdv-course {
    padding-left: 10px;
}


